<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link rel="stylesheets/pages" type="text/css" href="_email.scss">
</head>
<body>
  <img src="/assets/chicken-9506063c67648a45d0101cafa2175a62b79de634001fc25de84624a81cc2167f.png" alt="Chicken">
  <div style="color: #FDB631; font-family: verdana">
    <h1 style="color: black;">Hey <%= @challenge.name_challenger %>!</h1>
    <p>
      You have been challenged by <%= @creator.first_name %> <%= @creator.last_name %>. </p>
      <p> <%= @creator.first_name %> is curious to find out if both of you can manage to...
      </p>
      <ul>
        <li>Go <span style="color: black;"> <%= @challenge.activity %> </span> </li>
        <li> <span style="color: black;"> <%= @challenge.allotment %> </span> times a week </li>
        <li> for the next <span style="color: black;"> 4 </span> weeks. </li>
        <p> You place a bet of <%= @challenge.wager_amount %> euro.</p>
        <p> Succeed? You get the full <%= @challenge.wager_amount %> back. </p>
        <p> Chicken out? <%= @creator.first_name %> wins your money. </p>

      </ul>
    </div>

    <div style="background-color: #FDB631;">
      <p>
        To login to the site, just follow this link: <%= link_to "see your challenge", root_path %>.
      </p>

      <p>Thanks for joining and have a great day!</p>

      <a href="http://localhost:3000/">Let's do it</a>

    </body>
    </html>
