<div class="wrap">

  <h1>
    PROFILE
    ALL YOUR CHALLENGES
  </h1>
  <ul>

    <%= image_tag current_user.picture, class:"avatar" %>
      <%= current_user.first_name%>
      <%= current_user.last_name%>

    <%= @challenges.count %>

    <% @challenges.each do |challenge| %>
    <%= challenge.name %>
    <% end %>
 


  </ul>
</div>
