<div class="challenge_status">
  <div class="avatarbox">
    <%= image_tag challenge.creator.picture, class: "avatar avatar_shadow box-item creator " %>
    <% if challenge.challenger != nil %>
    <%= image_tag challenge.challenger.picture, class: "avatar avatar_shadow box-item challenger " %>
    <% else %>
    <%= image_tag "http://static1.squarespace.com/static/55b0eea6e4b0eac970b56fa2/t/567c8e6de0327cd48acb8afe/1451003519533/chicken-sombrero.gif", class: "avatar box-item challenger" %>
    <% end %>
  </div>
  <div class="week">
    Week <%= challenge_decorator.current_week %>
  </div>
  <h1><%=challenge.activity.upcase%></h1>
  <div class="playerbox">
    <p class="player-item"><%= challenge.creator.first_name %></p><p class="player-item grey">vs.</p>
    <p class="player-item">
      <% if challenge.challenger != nil %>
      <%= challenge.challenger.first_name %>
      <% else %>
      <%= challenge.name %>
      <% end %>
    </p>
  </div>
  <% case challenge_decorator.winner 
    when :creator %>
    <p>CREATOR <%= challenge.creator.first_name %></p>
  <% when :challenger %>
    <p>CHALLENGER <%= challenge.challenger.first_name %></p>
  <% when :tie %>
    <p>TIEE</p>
  <% end %>
</div>
<div class="wagers">
  <div class="wager creator">
    <div class="euro">&#8364;</div>
    <div><%= challenge_decorator.current_amounts[:creator].round %></div>
  </div>
  <div class="wager filler"></div>
  <div class="wager challenger">
    <div class="euro">&#8364;</div>
    <div><%= challenge_decorator.current_amounts[:challenger].round %></div>
  </div>
</div>
<div class="creatorwagerbar" style="width: <%= challenge_decorator.bar_values[:creator] %>%;"></div>
<div class="challengerwagerbar" style="width: <%= challenge_decorator.bar_values[:challenger] %>%;"></div>
<div class="score">
  <h2>score</h2>
  <div class="avatarbox-score allotment">
    <div class="challenge-avatar avatar_shadow" style="<%= "transform: scale(#{challenge_decorator.logged_times_ratios[:creator]}); background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.48)), url(#{challenge.creator.picture})" %>">
      <span class="logging-times-avatar">
        <%= challenge_decorator.logged_times_amounts_in_hours[:creator] %><span class="hour-log-label">h </span><%= challenge_decorator.logged_times_amounts_plus_minutes[:creator] %><span class="minute-log-label">min</span>
      </span>
    </div>
    <div class="alloted"><%= challenge.allotment %></div>
    <% if challenge.challenger != nil %>
    <div class="challenge-avatar avatar_shadow" style="<%= "transform: scale(#{challenge_decorator.logged_times_ratios[:challenger]}); background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.48)), url(#{challenge.challenger.picture})" %>"  >
      <span class="logging-times-avatar">
      <%=  challenge_decorator.logged_times_amounts_in_hours[:challenger] %><span class="hour-log-label">h </span><%= challenge_decorator.logged_times_amounts_plus_minutes[:challenge] %><span class="minute-log-label">min</span>
      </span>
    </div>
    <% else %>

    <%= image_tag "http://static1.squarespace.com/static/55b0eea6e4b0eac970b56fa2/t/567c8e6de0327cd48acb8afe/1451003519533/chicken-sombrero.gif", class: "avatar-small", style: "transform: scale(#{challenge_decorator.logged_times_ratios[:challenger]})" %>
    <% end %>
  </div>
</div>