  <div class="edit_challenge">
  <h1>Please enter your challenge information!</h1>
    <%=simple_form_for @challenge do |f| %>
    <div  class="edit_container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
          <p>How do you want to name your challenge?</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <%= f.input :name, placeholder: "The most awesome hiking challenge ever" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
          <p>What do you want to do more often?</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <%= f.input :activity, placeholder: "hiking" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
          <p>How many hours are you planning on doing this per week?</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
         <%= f.input :allotment,input_html: { min: '0' }, placeholder: "3 hours" %>
       </div>
     </div>

     <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
        <p>Who do you want to do it with?</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= f.input :name_challenger, placeholder: "Hank" %>
        <%= f.input :email_challenger, placeholder: "hank@hank.com"%>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
        <p>How confident are you?</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= f.input :wager_amount, input_html: { min: '0', step: 5 }, placeholder: "30 euros" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
        <p>What do you want to do with the money?</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= f.input :wager_description, placeholder: "Dinner on 25 december" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
        <p>When do you want to start the challenge?</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= f.input :start_date, as: :date_picker, :label => 'Date field', input_html: {data: {date_options: {defaultDate: Date.today}}} %>
        
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-3">
        <p>Your challenge wil be ending on: </p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <span id='deadline'>Your end-date will display here</span>
      </div>
    </div>

    <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-offset-5 col-lg-4">
        <%= f.submit class:"submit_edit_form" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

