<%=simple_form_for @challenge do |f| %>
<div class='questions-container'>
  <div class="question-container" id='next1' data-next='#next2'  >
    <div class="question-content">
      <div>
        <span class="no-highlight">What do</span> you <span class="no-highlight"> want to do </span>more often?        
      </div>
      <div class='question-input-container'>
        <%= f.input :activity, class: "new_challenge_input", placeholder: 'Work out!', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next2' id="button1" >Ok!</a>
      </div>
    </div>
  </div>
  <div class="question-container" id='next2' data-prev='#next1' data-next='#next3'>
    <div class="question-content">
      <div>
        Who <span class="no-highlight">do you want to challenge to do the same? </span>   
      </div>
      <div class='question-input-container'>
        <%= f.input :email_challenger, class: "new_challenge_input", placeholder: 'bob@spongemail.com', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#next3' id="button2">Ok!</a>
      </div>
    </div>
  </div>
  <div class="question-container" id='next3' data-prev='#next2' data-next='#summary'>
    <div class="question-content">
      <div>
        How much<span class="no-highlight"> do you dare to bet on</span> succeeding?     
      </div>
      <div class='question-input-container'>
        <%= f.input :wager_amount, class: "new_challenge_input", placeholder: '‎€ 10', label: false %>
      </div>
      <div class='question-next-button'>
        <a href='#summary' id="button3">Ok!</a>
      </div>
    </div>
  </div>
  <div class="question-container" id='summary' data-prev='#next3'>
    <div class="question-content">
      <div class ="summary">
        <p class="p_sum">
          <span class="no-highlight">Are you ready to create your</span> <span id="activity">x</span> <span class="no-highlight"> challenge with</span> <span id="challenger"> x </span><span class="no-highlight"> as your opponent </span> <br>
          <span class="no-highlight">and wager &#8364;</span><span id="wager">x</span>?

        </p>
      </div>
      <div class='question-input-container'>
      </div>
      <div class='question-next-button'>
        <%= f.submit "Let's go for it!", class: "summary_submit" %>
      </div>
    </div>
  </div>
</div>
<% end %> 

<%= content_for :after_js do %>
  <script>
    document.body.addEventListener('touchmove', function(e){ e.preventDefault(); });
  </script>
<% end %>

