<div class="wrap_white">
  <div class="challenge_status">
    <div class="avatarbox">
      <%= image_tag @challenge.creator.picture, class: "avatar box-item creator borderavatar" %>
      <%= image_tag @challenge.challenger.picture, class: "avatar box-item challenger borderavatar" %>
    </div>
    <h1><%=@challenge.activity.upcase%></h1>
    <div class="playerbox">
      <p class="player-item"><%= @challenge.creator.first_name %></p><p class="player-item grey">vs</p><p class="player-item"><%= @challenge.challenger.first_name %></p> 
    </div>
  </div>
  <div class="wagers">
      <div class="wager creator"><div class="euro">&#8364;</div><div><%= @current_amount_creator.round %></div></div>
    <div class="wager filler"></div>
    <div class="wager challenger"><div class="euro">&#8364;</div><div><%= @current_amount_challenger.round %></div></div>
  </div>
  <div class="creatorwagerbar" style="width: <%= @creator_bar_value  %>%;"></div>
  <div class="challengerwagerbar" style="width: <%= @challenger_bar_value  %>%;"></div>
  <div class="score">
    <h2>score</h2>
    <div class="avatarbox-score allotment">

      <div class="blackglow" style="<%= "transform: scale(#{@imagestyle_creator_ratio})" %>"> <%#= logged_time.amount %></div>
      <%= image_tag @challenge.creator.picture, class: "avatar-small", style: "transform: scale(#{@imagestyle_creator_ratio})" %>
      <div class="alloted"><%= @challenge.allotment %></div>
      <div class="blackglow" style="<%= "transform: scale(#{@imagestyle_challenger_ratio})" %>"> 20 </div>
      <%= image_tag @challenge.challenger.picture, class: "avatar-small", style: "transform: scale(#{@imagestyle_challenger_ratio})"%>
    </div>
  </div>
  <div class="whoop-container">
    <div class="add_score"><span>+</span></div>
    <%= render "logged_times/form", challenge: @challenge %>
  </div>
  </div>

